.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #FFB2CD, #FF5BCB);
    background-size: cover;
}

.card {
    background-color: #FFDAEB;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 2px solid #D26868;
    border-radius: 16px;
    padding: 30px;
}